<header class="top-nav">
  {% if currentPage == 'snappmap' %}
    {% assign headerName = snappmap.name %}
    <details>
      <summary>
        <h1>{{ snappmap.name | truncate: 19 }}</h1>
      </summary>
      <ul>
        {% if snappmap.groups and snappmap.groups.size > 0 %}
          {% for group in snappmap.groups %}
            {% for relatedSnappmap in group.snappthis_group_uuid.snappmap %}
              {% assign listName = relatedSnappmap.snappthis_snapmap_uuid.name %}
              {% if listName != headerName %}
                <li>
                  <a href="#">{{ relatedSnappmap.snappthis_snapmap_uuid.name }}</a>
                </li>
              {% endif %}
            {% endfor %}
          {% endfor %}
        {% else %}
          <li class="inactive">No other snappmaps in this group, yet</li>
        {% endif %}
      </ul>
    </details>
  {% endif %}

  {% if currentPage == 'groups' %}
    <h1>Your groups</h1>
    <svg
      class="right-center-icon"
      width="16"
      height="16"
      viewBox="0 0 36 36"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path fill-rule="evenodd" clip-rule="evenodd" d="M36 20.5714H20.5714V36H15.4286V20.5714H0V15.4286H15.4286V0H20.5714V15.4286H36V20.5714V20.5714Z" fill="white"/>
    </svg>
  {% endif %}

  {% if currentPage == 'index' %}
    <h1>Welcome back, Marije</h1>
  {% endif %}
</header>
