<form
  action="/snappmaps/{{ snappmapId }}"
  method="POST"
  enctype="multipart/form-data"
  class="picture"
>
  <img
    class="image-preview"
    src="#"
    alt="Preview"
  >
  <p>naam snappmap</p>

  <label for="file" tabindex="0" id="make-snapp">
    <svg
      width="200"
      height="200"
      viewBox="0 0 200 200"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="picture-icon"
    >
        <title>Make or select a picture</title>
      <circle cx="100" cy="100" r="100" fill="#00E53D"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M99.7856 93.1627C94.2754 93.1627 89.7922 97.6459 89.7922 103.156C89.7922 108.666 94.2754 113.149 99.7856 113.149C105.296 113.149 109.779 108.666 109.779 103.156C109.779 97.6459 105.296 93.1627 99.7856 93.1627V93.1627ZM116.697 76.2509C116.697 70.7315 112.223 66.2576 106.704 66.2576H92.8671C87.3477 66.2576 82.8737 70.7315 82.8737 76.2509H71.343C65.8236 76.2509 61.3496 80.7249 61.3496 86.2443V120.068C61.3496 125.587 65.8236 130.061 71.343 130.061H128.228C133.748 130.061 138.222 125.587 138.222 120.068V86.2443C138.222 80.7249 133.748 76.2509 128.228 76.2509H116.697ZM99.7856 120.837C90.0359 120.837 82.105 112.905 82.105 103.156C82.105 93.4072 90.0359 85.4755 99.7856 85.4755C109.535 85.4755 117.466 93.4072 117.466 103.156C117.466 112.905 109.535 120.837 99.7856 120.837V120.837Z" fill="white"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="retry-action">
      <path fill="#555753" fill-rule="evenodd" d="M7.32.029a8 8 0 0 1 7.18 3.307V1.75a.75.75 0 0 1 1.5 0V6h-4.25a.75.75 0 0 1 0-1.5h1.727A6.5 6.5 0 0 0 1.694 6.424A.75.75 0 1 1 .239 6.06A8 8 0 0 1 7.319.03Zm-3.4 14.852A8 8 0 0 0 15.76 9.94a.75.75 0 0 0-1.455-.364A6.5 6.5 0 0 1 2.523 11.5H4.25a.75.75 0 0 0 0-1.5H0v4.25a.75.75 0 0 0 1.5 0v-1.586a8 8 0 0 0 2.42 2.217" clip-rule="evenodd"/>
        <title>Retake picture</title>
    </svg>
  </label>

  <input type="file" name="file" accept="image/*" capture="environment" id="file" required hidden>

  <button type="submit">
    <svg xmlns="http://www.w3.org/2000/svg" width="3.5em" height="3.5em" viewBox="0 0 20 20">
      <path fill="#000" d="M2.184 2.112a.5.5 0 0 1 .54-.06l15 7.5a.5.5 0 0 1 0 .895l-15 7.5a.5.5 0 0 1-.707-.576L3.983 10L2.017 2.629a.5.5 0 0 1 .167-.517m2.7 8.388L3.27 16.556L16.382 10L3.269 3.444L4.884 9.5H11.5a.5.5 0 1 1 0 1z"/><title>upload</title>
    </svg>
  </button>
</form>
