{% render 'partials/head.liquid', title: '404', currentPage: '404' %}
<section class="page-404">
  <h1>404</h1>
  <p>Oops, this page is currently not available.</p>
</section>
{% render 'partials/footer.liquid' %}
