{% render 'partials/head.liquid', title: 'Groups' %}

{% for group in allGroups %}
  <ul>
    <li>
      <a href="/groups/{{ group.slug }}">{{ group.name }}</a>
    </li>
  </ul>
{% endfor %}

{% render 'partials/footer.liquid'%}