{% assign snappmap = snappmap[0] %}
{% render 'partials/head.liquid', title: 'Snappmap', oneSnappmap: true, snappmap: snappmap %}

{% comment %} maak if statement die checked of jij in de snappmap kan posten {% endcomment %}
{% render 'partials/uploadSnapForm.liquid', snappmapSlug: snappmap.slug, snappmapUuid: snappmap.uuid %}

{% render 'partials/formStatusMessage.liquid', status: status %}

{% assign sorted_snaps = snappmap.snaps | sort: 'date_created' | reverse %}
<ul class="grid" id="grid">
  {% for snaps in sorted_snaps %}
    <li>
      <img
        src="https://fdnd-agency.directus.app/assets/{{ snaps.picture }}?width=300&format=webp"
        alt=""
        loading="lazy"
      >
    </li>
  {% endfor %}
</ul>

{% render 'partials/footer.liquid', currentPage: 'home' %}
